# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.db
*.sqlite3

# Environments
.env
.venv
venv/
ENV/
env/

# Uploads
backend/static/uploads/*
!backend/static/uploads/.gitkeep

# Node / Frontend
node_modules/
dist/
.eslintcache
